.login-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-layout {
    width: 40%;
    gap: 0;
    align-items: center;
}

.signup-link{
    font-size:small;
}
.header{
display:flex;
align-items:center;
}
.title{
font-size:small;
}






